@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gabarito', sans-serif !important;
  color: #000000;
}

:root {
  /* Pure Black Background */
  --bg-pure: #000000;
  --bg-card: #0f0f0f;
  --text-main: #ffffff;
  --text-muted: #a0a0a0;
  
  /* Emerald Green Theme */
  --accent-green: #27ae60;
  --accent-green-hover: #1e8449;
  
  --border-subtle: rgba(255, 255, 255, 0.1);
  --nav-height: 80px; /* Thoda sleek height */
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none !important;
    color: #ffffff;
}

body {
  background-color: var(--bg-pure);
  color: var(--text-main);
}